body {
  background-color: black;
  color: pink;
}
ul {
  color: lightblue;
}
div {
  background-color: lightgrey;
  color: black;
}
span{
    background-color: lightgoldenrodyellow;
    color: aqua;
}
